body{
  background: rgb(200, 200,200);
}

@keyframes background-pan {
  from,to {
    background-position: 0% center;
  }
  50%{
    background-position: -100% center;
  }
}


#landingBg{
  background-image: url("./pages/Landing/Berlin.png");
  height: 100vh;
  width: 100%; 
  top: 0px;
  left: 0px;
  animation: background-pan 50s linear infinite;
  position: absolute;
  background-size: 150%;
}